@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
*{
    margin: 0;
    padding: 0;

}
.brand-name{
    font-weight:bold;
    font-size:1.5em;
    

}

.header{
    max-width:1440px;
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding-top:70px;
    padding-bottom: 50px;

}
.nav-list{
    display:flex;
    list-style: none;
    gap:34px;
}
.nav-link{
    text-decoration:none;
}

.banner{display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
 

    max-width:1440px;
    margin: 0 auto;
    
  

}
.banner-img{background-image:url(./Circle\ design.svg);
    background-repeat: no-repeat;
    /* background-position: center; */

}
.banner-content{display:flex;
    flex-direction: column;
    max-width:582px;


}
.banner-title{font-size:3.25em;

}
.banner-subtitle{
   color: rgba(58, 58, 58, 1);
   font-size:1em;

}
.btn-primary{
    border:none;
    padding:10px 24px;
    border-radius: 24px;
    background-color: rgba(224, 44, 109, 1);
    color:rgba(255, 255, 255, 1);
    width:194px;

}

.brand-logos{ display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap:50px;
    margin:50px;
    padding:50px;

    border-top: 2px;
    bordr-bottom:2px;

}
.products{

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:34px;

}

.product-card{
    height:476px;
    width:329px;
    padding: 15px;
    border-radius:5px ;
    box-shadow:4px 4px 40px rgba(0, 0, 0, 0.15);
}
.product-name{
    font-weight: 500px;
    font-size: 1.75em;
    padding-bottom: 5px;
    
}
.product-price{
    font-size:1.5em;
  
}
.product-description{
    display:flex;
    flex-direction: column;
  
}
.comment{
    font-weight: bold;
    color:rgba(120, 120, 133, 1);
}
.all-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.see-more {display: flex;


  text-align: right;
}

.see-more-link {
  text-decoration: none;
  font-weight: bold;
}
.featured-products{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin: auto;

}
.feature-content{max-width: 610px;
    flex-wrap: wrap;
}
.footer{color:rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    height: 14em;

}
.footer-copyright{ font-size: 0.75em;
    
}
.icon-container{
    display: flex;
    gap:16px;
}
@media screen and (max-width:750px){
    .header{
        flex-direction:row;
        justify-content: center;
        align-items: center;
        gap:50px;
    }
    .hidden{
        display:none;
    }
    .banner-title{
        font-size: 1.75em;
    }
    .banner-subtitle{
        font-size:0.875em;
    }
    .banner{
        flex-direction:column-reverse;
    }
    .banner-content{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
       .all-products{
        grid-template-columns: repeat(1, 1fr);
        
        margin: 0 auto;
    }
     .featured-products{
        flex-direction: column-reverse;
     }  
     .feature-content{display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
     }


}

@media screen and (min-width:750px) and (max-width:1440px){
    .header{ justify-content:space-around;}
     .banner{ min-width:  750px;
        max-width:1440px;
            margin: 0 auto;

        }
      
   .all-products{
        grid-template-columns: repeat(2, 1fr);
        
        margin: 0 auto;
    }
       .featured-products{
        flex-direction: column;
     }  
}

@media screen and (min-width:1440px){
    .header{ justify-content:space-around;}
      .all-products{
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
    }
}

